<footer class="footer" id="footer">
	<div class="container">
		<div class="footer__contacts">
			<div class="footer__contacts-social">
				<img class="footer__logo" src="images/.svg" alt="logo">
				<p class="contacts-social__text">
					
				</p>
				<div class="contacts-social__icons">
					
				</div>
			</div>
			<ul class="footer__contacts-list">
				<li class="contacts-list__item"></li>
				<li class="contacts-list__item">
					<a href=""></a>
				</li>
				<li class="contacts-list__item">
					<a href=""></a>
				</li>
				<li class="contacts-list__item">
					<a href=""></a>
				</li>
				<li class="contacts-list__item">
					<a href=""></a>
				</li>
			</ul>
			<ul class="footer__contacts-list">
				<li class="contacts-list__item"></li>
				<li class="contacts-list__item">
					<a href=""></a>
				</li>
				<li class="contacts-list__item">
					<a href=""></a>
				</li>
				<li class="contacts-list__item">
					<a href=""></a>
				</li>
				<li class="contacts-list__item">
					<a href=""></a>
				</li>
			</ul>
			<ul class="footer__contacts-list">
				<li class="contacts-list__item"></li>
				<li class="contacts-list__item">
					<a href=""></a>
				</li>
				<li class="contacts-list__item">
					<a href=""></a>
				</li>
				<li class="contacts-list__item">
					<a href=""></a>
				</li>
				<li class="contacts-list__item">
					<a href=""></a>
				</li>
			</ul>
			<div class="footer__contacts-email">
				<p class="contacts-email__text"></p>
				<p class="contacts-email__text"></p>
				<a class="contacts-email__link" href="mailto:">
				</a>
			</div>
		</div>
	</div>
	<div class="footer__wrapper">
		<div class="container">
			<div class="footer__copy">
				<p class="footer__copy-left">
				</p>
				<div class="footer__copy-right">
					<p class="footer__copy-text">
					</p>
					<p class="footer__copy-text">
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>