		<nav>
			<div class="container">
				<div class="navbar">
					<div class="logo">
						<a href="">logo</a>
					</div>
					<ul class="menu">
						<li class="menu__item">
							<a class="menu__item-link" href="#" data-scroll>1</a>
						</li>
						<li class="menu__item">
							<a class="menu__item-link" href="#" data-scroll>2</a>
						</li>
						<li class="menu__item">
							<a class="menu__item-link" href="#" data-scroll>367</a>
						</li>
					</ul>
					<div class="mobile__menu">
						<span></span>
					</div>
				</div>
			</div>
		</nav>

<!-- <header class="header">
	<div class="container">
		<div class="header__top">
			<img class="header__inner-logo" src="images/.svg" alt="logo">
			<nav class="header__menu">
				<ul class="header__menu-list">
					<li class="menu-list__item">
						<a class="menu-list__item-link" href="#"></a>
					</li>
					<li class="menu-list__item">
						<a class="menu-list__item-link" href="#"></a>
					</li>
					<li class="menu-list__item">
						<a class="menu-list__item-link" href="#"></a>
					</li>
					<li class="menu-list__item">
						<a class="menu-list__item-link" href="#"></a>
					</li>
					<li class="menu-list__item">
						<a class="menu-list__item-link" href="#"></a>
					</li>
					<li class="menu-list__item">
						<a class="menu-list__item-link" href="#"></a>
					</li>
					<li class="menu-list__item">
						<a class="menu-list__item-link" href="#"></a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header__inner">
			
		</div>
	</div>
</header> -->