.rotation {
    -webkit-animation: rotation 4s infinite linear;
    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate3D(0, 0.5, 0, 0deg);
    }
    to {
        transform: rotate3D(0, 0.5, 0, 180deg);
    }
}

.float {
    -webkit-animation: float 14s linear infinite;
    animation: float 14s linear infinite;
}

.float2 {
    -webkit-animation: float2 16s linear infinite;
    animation: float2 16s linear infinite;
}

.float3 {
    -webkit-animation: float3 16s linear infinite;
    animation: float3 16s linear infinite;
}

.float5 {
    -webkit-animation: float5 16s linear infinite;
    animation: float5 16s linear infinite;
}

@keyframes float {
    from {
        bottom: -70px;
        transform: rotate(45deg);
    }
    to {
        bottom: 100%;
        transform: rotate(345deg);
    }
}

@keyframes float2 {
    from {
        top: -70px;
        transform: rotate(45deg) scale(0.8);
    }
    to {
        top: 100%;
        transform: rotate(345deg) scale(0.8);
    }
}

@keyframes float3 {
    from {
        bottom: -70px;
        transform: rotate(45deg);
    }
    to {
        bottom: 100%;
        transform: rotate(345deg);
    }
}

@keyframes float4 {
    from {
        bottom: 0%;
        transform: rotate(45deg);
    }
    to {
        bottom: 100%;
        transform: rotate(345deg);
    }
}

@keyframes float5 {
    to {
        right: 100%;
        transform: rotate(45deg) scale(0.7);
    }
    from {
        right: 0;
        transform: rotate(345deg) scale(0.7);
    }
}

.float-up {
    -webkit-animation: floatup 0.5s forwards;
    animation: floatup 0.5s forwards;
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}
@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

.flip-in-hor-bottom {
    -webkit-animation: flip-in-hor-bottom 0.5s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes flip-in-hor-bottom {
    0% {
        -webkit-transform: rotateX(80deg);
        transform: rotateX(80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
}
@keyframes flip-in-hor-bottom {
    0% {
        -webkit-transform: rotateX(80deg);
        transform: rotateX(80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}
@keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

.bot .botarea__inner.slide-out-top {
    -webkit-animation: slide-out-top 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53)
        both;
    animation: slide-out-top 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    cursor: pointer;
}

@-webkit-keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
}
@keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
}

.slide-in-bottom {
    -webkit-animation: slide-in-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: slide-in-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(500px);
        transform: translateY(500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(500px);
        transform: translateY(500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}