html,
body {
	height: 100%;
}

body {
	font-family: 'Montserrat Alternates', sans-serif;
	//font-family: 'Nunito', sans-serif;
	//font-family: 'Orbitron', sans-serif; //!
	// font-family: 'Righteous', cursive; //!
	// font-family: 'Source Code Pro', monospace;
	color: #000000;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1370px;
	margin: 0 auto;
	padding: 0 15px;
}