html,
body {
	height: 100%;
}

body {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #131313;
	text-rendering: optimizeSpeed;
}

.container {
	max-width: 1370px;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}