@media (min-width: 1923.99px) {
	.container.--relative {
		position: relative;
	}
}

@media (max-width: 1199.99px) {
	.about__hero-content {
		margin-left: 30px;
	}
}

@media (max-width: 1149.99px) {
	.about__hero-content {
		margin-left: 0;
	}
	.bot {
		.botarea__inner {
			span {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}

@media (max-width: 1023.99px) {
	.about {
		height: 540px;
		padding: 20px 0;

		&__content {
			height: 450px;
		}

		&__hero-content {
			width: 400px;
			height: 400px;
		}
	}
	.rotate__animate {
		top: 25%;
		left: 25%;
	}
	.bot__img {
		max-width: 100px;
		max-height: 100px;
		margin-bottom: 30px;
	}
	.case__item-title {
		font-size: 28px;
		line-height: 36px;
	}
	.case__item-text {
		font-size: 16px;
		line-height: 24px;
	}
	.case__item-link:hover {
		.case__item-text {
			transform: translateY(-28px);
		}
	}
}

@media (max-width: 964.99px) {
	.about__hero {
		flex: initial;
	}
}

@media (max-width: 929.99px) {
	.about__hero {
		width: 350px;
		height: auto;
		align-self: center;

		&-content {
			max-width: 300px;
			max-height: 300px;
		}
	}
	.rotate__animate {
		max-width: 150px;
		height: auto;
	}
	.rotate__animate-img--front {
		width: 150px;
		height: 150px;
	}
	.rotate__animate-img--back {
		width: 150px;
		height: 150px;
	}
	.bot {
		.chatarea__outer {
			padding-bottom: 0;
		}
	}
}

@media (max-width: 879.99px) {
	.video__title {
		font-size: 50px;
		line-height: 60px;
	}
	.about__hero {
		width: 320px;
	}
	.case__item-title {
		font-size: 20px;
		line-height: 28px;
	}
	.case__item-link:hover {
		.case__item-text {
			transform: translateY(-25px);
		}
	}
	.gallery {
		padding: 40px 0 150px;

		&__title {
			margin-bottom: 30px;
		}
	}
}

@media (max-width: 819.99px) {
	.decor {
		width: 35px;
		height: 35px;
		border-radius: 4px;
	}
	.about {
		height: 450px;
		padding: 0;

		&__content {
			height: 400px;
		}

		&__hero {
			width: 250px;
	
			&-content {
				max-width: 200px;
				max-height: 200px;
			}
		}
	}
	.rotate__animate {
		max-width: 100px;
	}
	.rotate__animate-img--front {
		width: 100px;
		height: 100px;
	}
	.rotate__animate-img--back {
		width: 100px;
		height: 100px;
	}
	.gallery__title {
		font-size: 40px;
		line-height: 48px;
	}
}

@media (max-width: 750.99px) {
	.about__hero {
		width: 200px;
	}
}

@media (max-width: 699.99px) {
	.video__title {
		font-size: 42px;
		line-height: 48px;
	}
	.about {
		height: 400px;
	}
	.bot {
		.botarea__inner {
			span {
				font-size: 14px;
				line-height: 18px;
			}
		}
	}
	.gallery__title {
		font-size: 36px;
		line-height: 40px;
	}
	.case__item-title,
	.case__item-text {
		text-align: center;
	}
}

@media (max-width: 662.99px) {
	.bot {
		.botarea__inner {
			span {
				display: inline-block;
			}
		}
	}
	.cases__grid-item {
		width: 33%;
	}
}

@media (max-width: 569.99px) {
	.decor {
		&.--three {
			display: none;
		}
		&.--two {
			left: 35%;
		}
	}
	.about__hero {
		width: 150px;
	}
	.about__hero-content {
		max-width: 150px;
		max-height: 150px;
	}
	.rotate__animate {
		top: 15%;
		left: 17%;
	}
	.case__item-img {
		border-radius: 20px;
	}
}

@media (max-width: 499.99px) {
	.about {
		height: 440px;
	}
	.about__content {
		height: 440px;
		flex-direction: column;
		position: relative;
		padding-top: 20px;
	}
	.about__hero {
		align-self: flex-end;
		position: absolute;
		top: 20px;
		right: 0;
	}
	.rotation {
		animation:  none;
	}
	.rotate__animate-img--back {
		display: none;
	}
	.bot {
		width: 100%;

		&__img {
			margin-right: 20px;
		}

		.chatarea__outer {
			max-height: 400px;
		}
	}
}

@media (max-width: 459.99px) {
	.cases__grid-item {
		width: 50%;
		padding: 10px;
	}
	.case__item-img {
		border-radius: 40px;
	}
	.footer__contacts-social {
		flex-basis: 60%;
	}
	.contacts-social__text {
		font-size: 14px;
		line-height: 18px;
	}
}

@media (max-width: 389.99px) {
	.about__hero {
		width: 100px;
		&-content {
			max-width: 100px;
			max-height: 100px;
		}
	}
	.rotate__animate {
		max-width: 70px;
		top: 12%;
		left: 14%;
	}
	.rotate__animate-img--front {
		width: 70px;
		height: 70px;
	}
	.rotate__animate-img--back {
		width: 70px;
		height: 70px;
	}
	.bot {
		width: 100%;

		&__img {
			margin-right: 0;
		}

		.chatarea__outer {
			padding: 20px 20px;
		}

		.botarea__inner {
			max-width: 200px;

			span {
				box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
			}
		}
	}
	.gallery {
		padding: 40px 0 60px;
	}
	.footer {
		max-height: 100px;

		&__contacts {
			flex-wrap: wrap;
			justify-content: center;
			
			&-social {
				width: 100%;
				flex-basis: auto;
				justify-content: center;
				gap: 30px;
			}
		}
	}
}

@media (max-width: 374.99px) {
	.video__title {
		font-size: 36px;
		line-height: 40px;
	}
	.cases__grid-item {
		width: 100%;
	}
}

@media (max-width: 324.99px) {
	.bot {
		&__img {
			max-width: 80px;
			max-height: 80px;
		}
	}
}