$black: #131313;
$white: #FFFFFF;
$react: #61daf9;
$redux: #764abc;
$angular: #de3433;
$vue: #53b883;

@mixin flex($content) {
	display: flex;
	justify-content: $content;
	align-items: center;
}

@mixin bg-color($color) {
	background-color: $color;
}

@mixin colors ($bgc, $color) {
	background-color: $bgc;
	color: $color;
}

%glassmorphism {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@mixin background ($url) {
	background-image: url($url);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.react {
	@include bg-color($react);
}

.redux {
	@include bg-color($redux);
}

.angular {
	@include bg-color($angular);
}

.vue {
	@include bg-color($vue);
}