@import 'vars';
@import 'fonts';
@import 'normalize';
@import 'global';
@import 'animations';

body.dark {
	.header__top-wrapper.--light {
		display: none;
	}

	.header__top-wrapper.--dark {
		display: inline-flex;
	}

	.about, .gallery {
		background-color: transparent;
		color: $white;
	}

	.botarea__inner span {
		color: $white;
	}

	.footer {
		background: rgba(255, 255, 255, 0.2);
		box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		border-top: 1px solid rgba(255, 255, 255, 0.3);

		.contacts-social__text {
			color: $white;
		}

		svg path {
			fill: $white;
		}
	}
}

.header {
	height: 56px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;

	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);

	&__top {
		padding: 8px;

		&-wrapper {
			width: 40px;
			height: 40px;

			display: inline-block;
			opacity: 1;
			transform: none;

			&.--dark {
				display: none;
			}
		}

		&-btn {
			width: auto;
			min-width: 2.5rem;
			height: 2.5rem;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			-webkit-box-pack: center;
			padding: 0;
			user-select: none;
			border-radius: 0.375rem;
			position: relative;
			white-space: nowrap;
			vertical-align: middle;
			outline: 2px solid transparent;
			outline-offset: 2px;
			line-height: 1.2;
			appearance: none;
			cursor: pointer;

			&.--light {
				background-color: #FBD38D;
				color: #1A202C;

				&:hover {
					background-color: #F6AD55;
				}
			}

			&.--dark {
				background-color: #805AD5;
				color: #fff;

				&:hover {
					background-color: #6B46C1;
				}
			}

			svg {
				width: 1em;
				height: 1em;
				display: inline-block;
				line-height: 1em;
				-webkit-flex-shrink: 0;
				-ms-flex-negative: 0;
				flex-shrink: 0;
				vertical-align: middle;
			}
		}
	}
}

.video {
	height: 100vh;
	@include flex(center);
	margin-bottom: 10px;
	text-align: center;
	position: relative;

	video {
		width: 100vw;
		width: 100%;
		height: 100vh;	
		position: fixed;
		left: 0;
		top: 0;
		object-fit: cover;
		z-index: -20;
	}

	&__title {
		font-size: 58px;
		line-height: 70px;
		font-weight: 700;
		color: $white;
	}
}

.about {
	height: 600px;
	padding: 70px 0 20px;
	background-color: #f3f2ef;
	position: relative;

	&__content {
		@include flex(space-between);
		align-items: end;
		max-height: 500px;
	}

	&__hero {
		flex: 1 0 auto;

		&-content {
			width: 450px;
			height: 450px;
			position: relative;
			margin-left: 50px;
			z-index: 2;
	
			background: rgba(255, 255, 255, 0.2);
			border-radius: 16px;
			box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
			backdrop-filter: blur(5px);
			-webkit-backdrop-filter: blur(5px);
			border: 1px solid rgba(255, 255, 255, 0.3);
		}
	}
}

.rotate__animate {
	width: 200px;
	height: auto;
	position: absolute;
	top: 30%;
	left: 30%;
	transform-style: preserve-3d;
	transition: all 0.5s ease;

	&-img--front {
		width: 200px;
		height: 200px;
		position: absolute;
		border-radius: 50%;
		backface-visibility: hidden;	
	}

	&-img--back {
		width: 200px;
		height: 200px;
		position: absolute;
		border-radius: 50%;
		position: absolute;
		backface-visibility: hidden;
		transform: rotateY(180deg);	
	}
}

.decor {
    width: 57px;
    height: 57px;
    border-radius: 8px;
    transform: rotate(45deg);
    position: absolute;
    z-index: 2;

	&:hover {
		-webkit-animation-play-state: paused;
		-moz-animation-play-state: paused;
		-o-animation-play-state: paused;
		animation-play-state: paused;
	}
}

.--one {
	left: 5%;
    bottom: -70px;
}

.--two {
	left: 15%;
    top: -70px;
}

.--three {
	left: 35%;
    z-index: 3;
    bottom: -70px;
    animation-delay: 1s;
}

.--four {
	bottom: 7%;
	animation-delay: 2s;
}

.small {
	max-width: 400px;
	max-height: 100px;
}

.bot {
	display: flex;
	align-items: flex-end;
	flex: 1 0 50%;

	&__img {
		max-width: 150px;
		max-height: 150px;
		align-self: flex-end;
		margin-bottom: 20px;

		&:hover {
			cursor: pointer;
			-webkit-animation: wobble-hor-bottom 0.8s both;
	        		animation: wobble-hor-bottom 0.8s both;
		}
	}

	.chatarea__main {
		max-width: 500px;
		height: auto;
		flex-basis: 500px;
		background-color: transparent;
	}

	.chatarea__outer {
		width: 100%;
		max-height: 420px;
		background-color: transparent;
		overflow-y: scroll;

    	scroll-behavior: smooth;
    	hyphens: auto;
		padding: 40px 20px;
		scrollbar-width: none;
  		overflow-anchor: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.botarea__inner {
		margin-bottom: 60px;		
		animation: floatup .5s forwards;	
	}

	.botarea__inner span {
		padding: 10px;
		font-family: 'Orbitron', sans-serif;
		font-size: 20px;
		line-height: 28px;
		font-weight: 400;
		color: $black;

		background: rgba(255, 255, 255, 0.2);
    	border-radius: 16px 16px 0 16px;
    	box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    	backdrop-filter: blur(5px);
    	-webkit-backdrop-filter: blur(5px);
    	border: 1px solid rgba(255, 255, 255, 0.3);
	}
}

.gallery {
	padding: 50px 0 50px;
	background-color: #f5f7fe;

	&__title {
		margin-bottom: 50px;
		font-size: 48px;
		line-height: 54px;
		font-weight: 600;
		text-align: center;
	} 
}

.cases__grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	&-item {
		width: 25%;
		max-width: auto;
		max-height: auto;
		padding: 20px;
		opacity: 0;
	}
}

.case__item-link {
	width: 100%;
	margin-bottom: 20%;

	&:hover {
		.case__item-title {
			opacity: 0;
		}

		.case__item-text {
			opacity: 1;
			transform: translateY(-35px);
		}
	}
}

.case__item-img {
	width: 100%;
	height: 0;
	flex-grow: 1;
	margin-bottom: 20px;
	padding-top: 100%;
	border-radius: 40px;
	overflow: hidden;
	position: relative;
	transition: all 0.5s ease-in-out;

	img {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-repeat: no-repeat;
		background-position: center;
		z-index: 4;
		transition: all 0.5s ease-in-out;
	}

	&:hover {
		&::before {		
			background-color: rgba(0, 0, 0, 0.6);
			background-image: url(../images/lookup.svg);	
		}
	}
}

.case__item-title {
	font-size: 32px;
	line-height: 40px;
	font-weight: 500;
	overflow-y: hidden;
	transition: all 0.3s ease-in;
}

.case__item-text {
	font-size: 20px;
	line-height: 30px;
	overflow-y: hidden;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.footer {
	max-height: 60px;
	padding: 10px 0;
	background-color: rgba(118, 74, 188, 0.9);
	border-top: 1px solid rgba(0, 0, 0, 0.3);

	&__contacts {
		max-width: 400px;
		@include flex(space-between);
		margin: 0 auto;

		&-social {
			@include flex(space-between);
			flex-basis: 65%;
		}
	}

	&__logo {
		max-width: 30px;
		max-height: 30px;
		border-radius: 50%;
	}

	svg path {
		transition: all 0.5s ease-in-out;
	}

	svg:hover path {
		filter: invert(0.5) sepia(1) hue-rotate(200deg);
	}
}

.contacts-social__text {
	font-family: 'Orbitron', sans-serif;
	font-weight: 500;
}

.contacts-social__link {
	max-width: 30px;
	max-height: 30px;
	vertical-align: middle;
}

@import 'media';