@import 'vars';
@import 'fonts';
@import 'normalize';
@import 'libs';
@import 'global';
@import 'animations';

.video {
	height: 100vh;
	@include flex(center);
	margin-bottom: 10px;
	text-align: center;
	position: relative;

	video {
		// width: 1440px;
		// height: 900px;

		width: 100vw;
		width: 100%;
		height: 100vh;	
		position: fixed;
		left: 0;
		top: 0;
		object-fit: cover;
		z-index: -20;
	}

	h1 {
		font-size: 58px;
		line-height: 70px;
		color: #fff;
	}
}

.about {
	height: 600px;
	padding: 20px 0;
	//background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
	background: linear-gradient(90deg, #515ada  0%, #efd5ff 100%);

	//background-color: #8EC5FC;
	//background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);


	//background-color: #4158D0;
	//background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);


	//background-color: #D9AFD9;
	//background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);


	//background-color: #FFE53B;
	//background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);


	//background-color: #FA8BFF;
	//background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);


	//background-color: #FFDEE9;
	//background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

	//background-color: #FF3CAC;
	//background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
	position: relative;

	&__content {
		@include flex(space-between);
		align-items: end;
	}

	&__hero {
		width: 500px;
		height: 500px;
		// background: rgb(2,17,138);
		// background: linear-gradient(90deg, rgba(2,17,138,1) 0%, rgba(70,181,239,1) 70%, rgba(96,214,246,1) 100%);
		position: relative;
		margin-left: 50px;
		margin-bottom: 20px;
		display: inline-block;
		// transform: rotateZ(45deg);
		z-index: 2;

		background: rgba(255, 255, 255, 0.2);
    	border-radius: 16px;
    	box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    	backdrop-filter: blur(5px);
    	-webkit-backdrop-filter: blur(5px);
    	border: 1px solid rgba(255, 255, 255, 0.3);
	}
}

.decor {
	// background-color: #FE3D5E;
    width: 57px;
    height: 57px;
    border-radius: 8px;
    transform: rotate(45deg);
    position: absolute;
    z-index: 2;
}

.--one {
	left: 5%;
    bottom: -70px;
}

.--two {
	left: 15%;
    top: -70px;
}

.--three {
	left: 35%;
    z-index: 3;
    bottom: -70px;
    animation-delay: 1s;
}

.--four {
	bottom: 7%;
    // left: 65%;
	animation-delay: 2s;
}

.small {
	max-width: 400px;
	max-height: 100px;
}

.rotate__animate {
	width: 300px;
	height: auto;
	position: absolute;
	top: 18%;
	left: 20%;
	transform-style: preserve-3d;
	transition: all 0.5s ease;
}

.rotate__animate-img--front {
	width: 300px;
	height: auto;
	position: absolute;
	border-radius: 50%;
	backface-visibility: hidden;	
}

.rotate__animate-img--back {
	width: 300px;
	height: auto;
	position: absolute;
	border-radius: 50%;
	position: absolute;
	backface-visibility: hidden;
	transform: rotateY(180deg);	
}

.bot {
	display: flex;

	&__img {
		max-width: 200px;
		max-height: 200px;
	}

	.chatarea-outer {
		max-height: 350px;
		overflow-y: scroll;
	}

	.botarea-inner {
		margin-bottom: 10px;
		padding: 10px;
		font-family: 'Orbitron', sans-serif;
		font-size: 20px;
		line-height: 28px;
		color: black;
		background: rgba(255, 255, 255, 0.2);
    	border-radius: 16px;
    	box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    	backdrop-filter: blur(5px);
    	-webkit-backdrop-filter: blur(5px);
    	border: 1px solid rgba(255, 255, 255, 0.3);
		
	}

	
}

.gallery {
	padding: 30px 0 30px;
	background-color: #f5f7fe;
}

.cases__grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	// gap: 40px;

	&-item {
		// width: 414px;
		// height: 335px;
		width: 25%;
		max-width: auto;
		max-height: auto;
		padding: 20px;
	}
}


.case__item-link {
	width: 100%;
	margin-bottom: 20%;
}

.case__item-img {
	// width: 295px;
	// height: 295px;
	// width: 100%;
	// height: 100%;
	margin-bottom: 20px;
	border-radius: 40px;
	overflow: hidden;
	flex-grow: 1;
	padding-top: 100%;
	width: 100%;
	height: 0;
	position: relative;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.case__item-title {
	font-size: 32px;
	line-height: 40px;
}

.case__item-text {
	font-size: 20px;
	line-height: 30px;
}



@import 'media';